/* navbar  */

nav{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    /* position: fixed; */
}

.logo >h3{
    margin-left: 20px;
    font-family: sans-serif;
}

.hoverable-link >a{
     justify-content: space-around;
     color: white;
     text-decoration: none;
     margin: 20px;
     font-family: sans-serif;
}
.hoverable-link{
    display: flex;
    justify-content: space-around;
}


.Banner{
    display: flex;
    background-color: black;
}

.heading-txt >p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    color: white;
    margin-left: 20px;
}

.heading-txt {
    width: 50vw;
    
}
.banner-img {
    width: 50vw;
    
}

.banner-img > img{
    position: relative;
    width: 734px;
    height: 395px;
   
    top: 20vw;
}

@media screen and (min-device-width: 468px)
and (max-device-width: 1024px) {
 
    .banner3{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .bannerone{
        width: 100%; 
        margin: auto;    
    }

    .bannerone >img{
        height: 560px;
        width: 300px;
        margin: auto;
      }

      .servicescontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
}


.banner3{
    display: flex;
    margin-top: 100px;
}

.bannerone{
    width: 50vw;     
}


.bannertwo{
    width: 50vw;  
}
.bannertwo >h3{
    font-size: 80px;
   font-family: sans-serif;
}

.bannerone >img{
  height: 560px;
}

#section {
   width: 80vw;
   margin: auto;
}


.services{
    font-size: 60px;
   font-family: sans-serif;
   font-weight: bold;
   margin-top: 100px;
}


.servicescontainer {
    display: flex;
    justify-content: space-between;
    
}

.servicescontainer >div {
    height: 300px;
    width: 400px;
    border: 2px solid black;
}

.servicescontainer >div >h4{
    margin-left: 20px;
    font-size: 40px;
    font-family: sans-serif;
    text-decoration: none;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 100;
  
}
.servicescontainer >div >p{
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: rgb(122, 121, 118);
}

.line{
    height: 7px;
    background-color: black;
}


.form-section{
    background-color: black;
    height: 400px;
}

.form-section > h3{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
   padding-top:20px;

}


.input-fields{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-fields >input{
    border:1px solid white;
    color: white;
    background-color: black;
    height: 30px;
    width: 35vw;
    margin-top: 15px;

}

#submit{
    position: relative;
    top: 20px;
    right: 245px;
    background-color: white;
    color: black;
    height:30px;
}